.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  flex-basis: 400px;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 15px;
}

.card a img {
  width: 100%;
}
